<div class="row mb-2">
  <div class="col-md-4 " *ngFor="let user of users">
    <user [user]="user"
    [pending]="pending(user._id)"></user>
  </div>

  <div class="col-md-4 shadow_warn " *ngFor="let user of usersCached">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://goo.gl/TH46Xj">
      <div class="card-body">
        <h5 class="card-title">{{ user.firstName +' ' + user.lastName  }}</h5>
        <p class="card-text">
          <b>Email : </b>{{ user.email }}<br/>
          <b>Phone : </b>{{ user.phone }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <button disabled class="btn btn-sm btn-outline-danger btn-block ">Pending </button>
        </div>
      </div>
    </div>
  </div>
</div>
