<div class="card mb-4 box-shadow">
  <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://goo.gl/TH46Xj">
  <div class="card-body">
    <h5 class="card-title">{{ user.firstName +' ' + user.lastName  }}</h5>
    <p class="card-text">
      <b>Email : </b>{{ user.email }}<br/>
      <b>Phone : </b>{{ user.phone }}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <a [routerLink]="['/edit', user._id]" class="btn btn-sm btn-outline-primary btn-block">Edit
        <span class="badge badge-info float-right" *ngIf="pending">Pending</span>
      </a>
    </div>
  </div>
</div>
