<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">First Name : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" placeholder="user First name" formControlName="firstName" >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Last Name : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" placeholder="user Last name" formControlName="lastName" >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" placeholder="user Email" formControlName="email" >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Phone : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control-plaintext" placeholder="user phone" formControlName="phone" >
    </div>
  </div>

  <button type="submit" class="btn btn-block btn-dark">Add User</button>
</form>
