<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <nav class="my-2 my-md-0 mr-md-3">
    <a  class="p-2 text-dark" routerLink="/">
      Users Lists
    </a>
    <a  class="p-2 text-dark" routerLink="add">
      Add User
    </a>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

